openapi: 3.1.0
info:
  title: EvidenceOps Web-to-Drive Bridge
  version: 1.0.0
  description: Securely retrieves allowlisted public evidence files, verifies integrity, stores them in Google Drive, and returns provenance receipts.
servers:
  - url: https://script.google.com/macros/s/REPLACE_WITH_DEPLOYMENT_ID/exec
paths:
  /:
    get:
      operationId: bridgeStatus
      summary: Check bridge status
      responses:
        '200':
          description: Bridge status
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
                  service: { type: string }
                  version: { type: string }
    post:
      operationId: ingestEvidenceFiles
      summary: Import one or more official web files into Google Drive
      description: Use this when EvidenceOps needs to preserve a public source file with a recomputed SHA-256 hash and provenance receipt.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/IngestJob'
                - type: object
                  required: [apiKey, jobs]
                  properties:
                    apiKey: { type: string, minLength: 24 }
                    jobs:
                      type: array
                      minItems: 1
                      maxItems: 10
                      items: { $ref: '#/components/schemas/IngestJobWithoutKey' }
      responses:
        '200':
          description: All files imported or linked as duplicates
        '207':
          description: Mixed batch result
        '400':
          description: Invalid request
        '401':
          description: Invalid API key
        '403':
          description: URL domain or host rejected
        '409':
          description: Expected SHA-256 mismatch
        '413':
          description: File exceeds the configured maximum size
        '415':
          description: MIME type rejected
components:
  schemas:
    IngestJob:
      allOf:
        - type: object
          required: [apiKey]
          properties:
            apiKey: { type: string, minLength: 24 }
        - $ref: '#/components/schemas/IngestJobWithoutKey'
    IngestJobWithoutKey:
      type: object
      required: [url, folderId]
      properties:
        url:
          type: string
          format: uri
          pattern: '^https://'
        folderId:
          type: string
          description: Google Drive destination folder ID.
        filename:
          type: string
          maxLength: 180
        sourceLabel:
          type: string
        evidenceLane:
          type: string
          enum: [DHET_GOVERNANCE, CCMA, PAIA, JOB_EVALUATION, PROTECTED_ACTIVITY, DISCIPLINARY, ICT_GOVERNANCE, OTHER]
        expectedSha256:
          type: string
          pattern: '^[A-Fa-f0-9]{64}$'
        allowedMimeTypes:
          type: array
          default: [application/pdf]
          items: { type: string }
        deduplicate:
          type: boolean
          default: true
        notes:
          type: string
          maxLength: 2000
